


.bg-color{
    background-color: #f2e8cd;
}

.top-banner {
    display: flex;
    justify-content: center;   
}

.top-banner img{
    border: 2px solid #93a4a4;
    border-radius: 20px 0 35px 35px;

}



.thumb-container{
    display: flex;
    justify-content: center;
    gap: 3%;
}

.allrecipes{
   
    margin-top: 20%;
    max-width: 200px;
    max-height:200px;
}

